:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
}

html, body {
    margin: 0;
    min-height: 100%;
}

#app, #canvas {
    width: 100vw;
    height: 4000px;
}

.card-container {
    position: absolute;
    margin: 0;
    min-width: 100px;
    min-height: 30px;
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    background-color: white;
    border: 1px solid rgb(159, 78, 65);
    padding: 0.5em;
}

.card-text {
    overflow: auto;
}

.card-container:not(.active) {
    -webkit-user-select: none;
    user-select: none;
}

.card-container.active {
    -webkit-user-select: auto;
    user-select: auto;
}

/* hacky fix for now for moving cards */
.card-text {
    pointer-events: none;
}

.card-corner {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
}


.grabbed {
    filter: drop-shadow(rgb(220, 165, 123) 0.1rem 0.1rem 0.3rem);
}